body {
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #4d5ae5;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.logo-link-span {
  color: #2e2f42;
}

.navigation-list-item-link {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.navigation-list-item-link:hover,
.navigation-list-item-link:focus {
  color: #404bbf;
}

.address {
  font-style: normal;
}

.address-list-item-link {
  font-weight: 400;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.address-list-item-link:hover,
.address-list-item-link:focus {
  color: #404bbf;
}

.hero-section {
  background-color: #2e2f42;
  color: #ffffff;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.advantages-section-list-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.advantages-section-list-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-team-section {
  background-color: #f4f4fd;
}

.our-team-section-list-item {
  background-color: #ffffff;
}

.our-team-section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.our-team-section-list-item-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
}

.our-team-section-list-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.our-portfolio-section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.our-portfolio-section-list-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.our-portfolio-section-list-item-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer {
  background-color: #2e2f42;
  color: #ffffff;
}

.logo-link-span-footer {
  color: #f4f4fd;
}

.footer-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
